<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/view/css/homepage.css">
    <title>Homepage</title>
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a class="items" href="/view/html/homepage.html"><img src="/images/logo_church.png" class="logo"></a></li>
            <li><a class="items" href="/view/html/homepage.html">Homepage</a></li>
            <li><a class="items" href="/view/html/baptists.html">Baptists</a></li>
        <li>
            <a class="items">Ministries</a>
            <ul class="submenu">
                <li><a href="#">Diaconal</a></li>
                <li><a href="#">EBD</a></li>
                <li><a href="#">Evangelism</a></li>
                <li><a href="#">Missions</a></li>
                <li><a href="#">Intercession</a></li>
                <li><a href="#">Religious Education</a></li>
                <li><a href="#">Youth</a></li>
                <li><a href="#">Community Action</a></li>
                <li><a href="#">Men's Union</a></li>
                <li><a href="#">Special Programming</a></li>
                <li><a href="#">Infant</a></li>
                <li><a href="#">MCM</a></li>
                <li><a href="#">Music</a></li>
            </ul>
        </li>
        <li><a class="items" href="/view/html/soul_fishers_project.html">Soul Fishers Project</a></li>
        <li><a class="items" href="/view/html/cult.html">Cults</a></li>
    </ul>
    </div>
    <script src="/view/js/homepage.js"></script>
</body>
</html>