* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    overflow: hidden;
}

body {
    background-color: #fff;
    width: 100%;
    height: 100%;
}

.navbar {
    position: fixed;
    background-color: aquamarine;
    width: 100%;
    height: 8%;
    display: grid;
    grid-template-columns: repeat(6, auto);
}

.navbar ul {
    display: flex;
    justify-content: space-around;
}

.navbar ul li {
    width: 100%;
    text-align: center;
}

.logo {
    margin: 5px;
    background-repeat: no-repeat;
    width: 25%;
    height: 80%;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #1d1d1d;
    min-width: 200px;
    margin: 5px;
}

.submenu li a {
    width: 100%;
}

.submenu li a:hover {
    background-color: #fff;
}

/* Exibir submenu ao passar o mouse */
.navbar ul li:hover .submenu {
    display: block;
}